<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you need help with this application please contact the IT department <br> <br>

  Phone: 460/580 <br>
  Email: <a href="mailto:it@jtcfurnituregroup.com?subject=SubcontractorDB">it@jtcfurnituregroup.com</a>
</p>