<% provide(:title, "Both Types") %>
<h1>Approved Labour &amp Specialist Subcontractors</h1>

<p><%= link_to "Clear sorting", both_path, class: "btn btn-mini" %></p>

<%= render 'shared/types_table' %>