<% provide(:title, "Edit Subcontractor") %>
<h1>Update a subcontractor</h1>
<p class="offset6"><%= link_to "Back", subcontractor_path %> | <%= link_to "Index", subcontractors_path %></p>
<%= render 'shared/new_form' %>
