<% provide(:title, "London Subcontractors") %>
<h1>Approved Subcontractors - London</h1>

<p><%= link_to "Clear sorting", london_path, class: "btn btn-mini" %></p>
<%= will_paginate @sbcons %>

<%= render 'shared/regions_table' %>

<%= will_paginate @sbcons %>