<% provide(:title, "Midlands Subcontractors") %>
<h1>Approved Subcontractors - Midlands</h1>

<p><%= link_to "Clear sorting", midlands_path, class: "btn btn-mini" %></p>
<%= will_paginate @sbcons %>

<%= render 'shared/regions_table' %>

<%= will_paginate @sbcons %>