<% provide(:title, "North East English Subcontractors") %>
<h1>Approved Subcontractors - North East England</h1>

<p><%= link_to "Clear sorting", ne_eng_path, class: "btn btn-mini" %></p>
<%= will_paginate @sbcons %>

<%= render 'shared/regions_table' %>

<%= will_paginate @sbcons %>