<% provide(:title, "Welsh Subcontractors") %>
<h1>Approved Subcontractors - Wales</h1>

<p><%= link_to "Clear sorting", wales_path, class: "btn btn-mini" %></p>
<%= will_paginate @sbcons %>

<%= render 'shared/regions_table' %>

<%= will_paginate @sbcons %>