<% if @subcontractor.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@subcontractor.errors.count, "error") %>.
    </div>
    <ul>
      <% @subcontractor.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>